@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: #f8fafc;
  --ink: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
